<!--from_withヘルパーでフォーム作成-->

<!--以下部分は書き換え元-->
<!--<h1>Lists#new</h1>-->
<!--<p>Find me in app/views/lists/new.html.erb</p>-->

<h1>新規投稿</h1>
<!--form_with部分-->
<!--インスタンス変数に変更-->
<!--<%#= form_with model:@list do|f| %>-->
<!-- form_withにオプション追記 -->
<%= form_with model: @list, url: '/lists', method: :post do |f| %>

 <h4>タイトル</h4>
 <%= f.text_field:title %>
 
 <h4>本文</h4>
 <%= f.text_area:body %>
 
 <!--画像を投稿できるように記述を追加-->
 <h4>画像</h4>
 <%= f.file_field :image,accept: "image/*" %>
 
 <%= f.submit'投稿' %>

<% end %>
