<!--最初に削除-->
<!--<h1>Lists#show</h1>-->
<!--<p>Find me in app/views/lists/show.html.erb</p>-->

<h2>タイトル</h2>
<p><%= @list.title %></p>

<h2>本文</h2>
<p><%= @list.body %></p>

<!--ビューで画像を表示するための記述-->
<h2>画像</h2>
<% if @list.image.attached? %>
 <%=  image_tag @list.image,size: "300×300" %>
<% else %>
 <%= image?tag 'no_image',size:"300×300" %>
<% end %>

<!--編集画面へのリンクを追加-->
<%= link_to "編集",edit_list_path(@list.id) %>